@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

:root {
    --azul-escuro: #2b2d42ff;
    --azul-claro: #8d99aeff;
    --branco: #edf2f4ff;
    --vermeio-claro: #ef233cff;
    --vermeio-de-fundo: rgb(243, 96, 113);
    --vermeio-escuro: #d90429ff;
    --fonte-título: "Rubik", sans-serif;
    --fonte-texto: "Roboto Mono", monospace;
}

body {
    background-color: var(--vermeio-escuro);
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--fonte-texto);
}

.caixa-principal {
    background-color: var(--vermeio-claro);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    font-size: medium;
}

.titulo {
    color: var(--branco);
    font-family: var(--fonte-título);
    padding: 15px;
    font-size: 50px;
}

button {
    background-color: var(--branco);
    color: var(--azul-escuro);
    border: 15px;
    border-radius: 15px;
    padding: 10px;
    transition: 0.3s;
    margin: 10px auto;
    font-size: large;
}

button:hover {
    background-color: var(--azul-claro);
}

.caixa-perguntas {
    background-color: var(--vermeio-escuro);
    padding: 15px;
}